RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)$ index.php?url=$1
RewriteRule ^([^/]+)/? index.php?url=$1
RewriteRule ^([^/]+)/([0-9]+)/?$ index.php?url=articles&param=$2 [L,QSA]